.side-bar {
  box-sizing: border-box;
  color: $white;
  width: 300px;
  .header {
    background-color: $side_blue_dark;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    &__name {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .icon {
        color: $white;
        font-size: 12px;
      }
      position: relative;
      top:-10px;
      right: 20px;
      z-index: 1;
    }
  }

  .groups {
    background-color: $side_blue_light;
    height: calc(100vh - 100px);
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        color: $white;
        font-size: 12px;
      }
      &__message {
        color: $white;
        font-size: 12px;
        margin-top: 5px;
      }
    }
  }
}
.contents{
  width: calc(100% - 300px);
  height: 100%;
  padding-left: 300px;
  position: absolute;
    .contents-top{
      height: 82px;
      padding-top: 17px;
      background-color: #ffffff;
      padding-left:40px; 
      &__logo1{
        color: #333333;
        font-size: 20px;
        padding-top: 15px;
      }
      &__logo2{
        color: #999999;
        font-size: 12px;
        padding-top: 15px;
      }
      &__box{
        position: relative;
        top: -28px;
        right: 60px;
        height: 40px;
        width: 60px;
        border: solid 1px #38aef0;
        float: right;
        }
        &__edit{
          color: #38aef0;
          padding:  10px 20px;
          text-align: center;
        }
    }
    .contents__border{
      position: relative;
      top: 1.5px;
      border: solid 1px #eeeeee;
    }
    .contents-under{
      color: #434A54;
      padding-left: 40px;
      position: relative;
      height: calc(100vh - 102px);
      background-color: #fafafa;
      &__logo1{
        font-size: 20px;
        padding-top: 46px;
      }
      &__logo2{
      font-size: 14px;
      padding-top: 10px;
      }
      &__logo3{
      font-size: 16px;
      padding-top: 40px;
      }
      &__logo4{
      font-size: 14px;
      padding-top: 10px;
      }
    }
    .footer{
      height: 80px;
      background-color: #eeeeee;
      width: calc(100% - 300px);
      bottom: 0px;
      position: fixed;
      .footer-box{
        width: 521px;
        height: 50px;
        margin: 15px 40px 15px 40px;
        background-color: #fafafa;
        position: absolute;
        &__message{
          color: #434A54;
          font-size: 16px;
          margin: 10px 10px;
        }
        &__icon{
          right: 10px;
          bottom: 15px;
          position: absolute;
        }
      }
      .footer-send__box{
        background-color: #38aef0;
        height: 50px;
        width: 100px;
        right: 0px;
        position: absolute;
        margin: 15px 40px 15px 15px;
        .footer-bottan{
          color: #fafafa;
          text-align: center;
          padding-top: 15px;
        }
      }
    }
}